# Node
node_modules/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logi
*.log
npm-debug.log*
